.product-page-container {
    margin-top: 10px;
}

#product-info {
    display: flex;
    width: 95%;
    margin: 0 auto
}

.item-image-parent {
    order: 1;
    width: 50%;
    display: flex;
}

.item-info-parent {
    order: 2;
    width: 50%;
}

.item-image-main {
    order: 2;
    width: 90%;
    height: 100%;
}

/* sectioning completed */



.item-image-main img {
    width: 100%;
    height: auto;
}

.thumb-box:hover {
    cursor: pointer;
    border-color: #e77600;
    ;
    box-shadow: 0px 1px 5px 1px #e77600;
}

/* Item Info */
.main-info h4 {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 400
}

.star-rating {
    width: 70%;
    color: gray;
    font-size: 24px;
    border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
}

.star-rating span {
    color: gold;
}

.main-info p {
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

#price {
    color: rgb(168, 14, 14);
    font-size: 21px;
}

/* Select Items */

.change-color {
    margin-bottom: 10px;
}

.change-color .thumb-box {
    margin: 10px 10px 10px 0;
    width: 40px;
    display: inline-block;
}

.change-size select {
    padding: 5px 10px;
    border-radius: 4px;
    border-color: rgb(189, 189, 189);
    margin-top: 10px;
}

.STOCK {
    display: inline-block;
}


@media (max-width:580px) {
    #product-info {
        display: flex;
        flex-direction: column;
    }


    .item-image-main {
        width: 100vw;
    }

    .item-image-main img {
        width: 100%;
    }

    .item-image-parent {
        width: 100%;
    }

    .item-info-parent {
        width: 100%;
    }

    .main-info>h4 {
        padding-top: 22px;
    }
}