.star-svg {
    /* Reset unwanted Tailwind CSS styles here */
    display: inline-block !important;
}

#view {
    height: 25px;
    margin: 0;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    outline: none;
    border-radius: 0;
    background: none;
    border: 1px solid #282B33;
}

#view {
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
}

#view {
    background: none;
    border: 1px solid black;
    margin: 25px 0;
}

#view:hover {
    background-color: #282B33;
    color: white;
}


.tools {
    overflow: auto;
    zoom: 1;
}

.search-area {
    float: left;
    width: 60%;
}

.settings {
    display: none;
    float: right;
    width: 40%;
    text-align: right;
}

#view {
    display: none;
    width: auto;
    height: 47px;
}

#searchbutton {
    width: 60px;
    height: 47px;
}

@media screen and (max-width:400px) {
    .search-area {
        width: 100%;
    }
}

.products {
    width: 100%;
    font-family: Raleway;
}

.product-search1 {
    display: inline-block;
    width: calc(24% - 13px);
    margin: 10px 10px 30px 10px;
    vertical-align: top;

}

.product-search1 img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 200px;
    max-width: calc(100% - 20px);
    background-cover: fit;
    /* box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); */
    mix-blend-mode: multiply;
    border-radius: 2px;
}

.product-content {
    text-align: center;
}

.product-search1 h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.product-search1 h3 small {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 7px 0 0 0;
}

.product-search1 .product-text {
    margin: 7px 0 0 0;
    color: #777;
}

.product-search1 .price {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.product-search1 .genre {
    font-size: 14px;
}


@media screen and (max-width:1150px) {
    .product-search1 {
        width: calc(33% - 23px);
    }
}

@media screen and (max-width:700px) {
    .product-search1 {
        width: calc(50% - 43px);
    }
}

@media screen and (max-width:400px) {
    .product-search1 {
        width: 100%;
    }
}

/* TABLE VIEW */
@media screen and (min-width:401px) {
    .settings {
        display: block;
    }

    #view {
        display: inline;
    }

    .products-table .product-search1 {
        display: block;
        width: auto;
        margin: 10px 10px 30px 10px;
    }

    .products-table .product-search1 .product-img {
        display: inline-block;
        margin: 0;
        width: 120px;
        height: 120px;
        vertical-align: middle;
    }

    .products-table .product-search1 img {
        width: auto;
        height: 120px;
        max-width: 120px;
    }

    .products-table .product-content {
        text-align: left;
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        width: calc(100% - 145px);
    }

    .products-table .product h3 {
        margin: 0;
    }
}